html 
{ 
  background: url(img/darkPattern.png) repeat;
}

body
{
  color: white;
  margin: 0 auto;
  width: 100%;
  font-size: 1.5em;
  color: white;
  text-shadow:
  -1px -1px 0 #696969,
  1px -1px 0 #696969,
  -1px 1px 0 #696969,
  1px 1px 0 #696969; 
}

.main_text
{
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding: 1em;
  font-family: calibri;
  display: block;
}

ol
{
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}

.search_button
{
  margin-left: 3em;
  margin-bottom: 3em;
}

.title
{
  display: flex;
  text-align: center;
  margin-top: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title img
{
  border-radius: 5px;
}

.search_text
{
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  border: 1px solid;
  border-color: black;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
}

select
{
  width: 200px; 
  float: left;
  font-family: Tahoma;
  background: #f4f4f4;
  border-radius: 5px;
}

.Contact_Information
{
  text-align: right;
  font-size: .7em;
} 

.Contact_Information p
{
  position: relative;
  bottom: 0;
  right: 0;
  color: white;
  margin-right: 1em;
  margin-bottom: 1em;
}

.block
{
  margin: 0 auto;
  text-align: center;
  flex: 1 1 0;
  border:1px solid black;  
  border-width: 0 1px 1px 0;
  background: rgba(0,0,0,0.3);
}

input[type=submit] 
{
  border-radius: 5px;
  border: 0;
  width: 80px;
  height:25px;
  font-family: Tahoma;
  background: #f4f4f4;
}

iframe
{
  display: block;
  margin: 0 auto;
}

.info
{
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding: 1em;
  font-family: calibri;
  display: block;
}

.row2 table
{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.row2 th, td
{
  border: none;
  text-align: left;
  padding: 5px;
}

#share-buttons img 
{
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

@media screen and (max-width: 1500px){

.title img
{
  width: 500px;
  height: auto;
}
}

@media screen and (max-width: 1300px){

.title img
{
  width: 400px;
  height: auto;
}
}

@media screen and (max-width: 1050px){

.title img
{
  width: 35 0px;
  height: auto;
}

.title
{
  flex-direction: column;
}
}

@media screen and (max-width: 670px){

iframe
{
  width: 355px;
  height: 260px;
}

.main_text, .info
{
  font-size: 80%;
}
}

@media screen and (max-width: 500px){

iframe
{
  width: 200px;
  height: 132px;
}

.main_text, .info
{
  font-size: 60%;
}

.title img
{
  width: 200px;
  height: auto;
}
}

@media screen and (min-width: 15em){
.row {
    flex: 1 1 0; 
    text-align: center;
    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    display: flex;
    flex-flow: row;
}

}